body {

    background-image: radial-gradient(
            hsl(100, 90%, 60%),
            hsl(100, 90%, 45%),
            hsl(100, 90%, 30%),
            hsl(100, 90%, 15%),
            hsl(100, 90%, 10%)
    );
    font-size: 1.6em;
}

.container {
    margin-top: 15px;
    border: 1px solid black;
    background: hsla(100, 12%, 90%, 78);
}

.mymenu {
    background: linear-gradient(
            hsl(200, 70%, 42%),
            hsl(200, 70%, 22%)
    );

    margin: auto;
    height: 55px;
    padding-left: 8px;
}

.mymenu > ul {
    display: block;
}

.mymenu > ul > li a {
    color: white;
    text-decoration: none;
    line-height: 100%;
}

.mymenu > ul > li:active {
    background: linear-gradient(
            hsl(200, 70%, 27%),
            hsl(200, 70%, 22%)
    )
}

.mymenu > ul > li:nth-child(n + 1) {
    margin-top: 5px;
    margin-right: 60px;
    border: 1px solid black;
    border-radius: 10px 10px;

    padding: 5px;

}

.mymenu > ul > li:nth-child(2) {
    margin-left: 25px;
}
