body{
    background: linear-gradient(
            hsl(200, 90%, 60%),
            hsl(220, 90%, 45%),
            hsl(240, 90%, 30%),
            hsl(260, 90%, 15%),
            hsl(2800, 90%, 10%)
    ) space;
    font-size: 1.6em;
    color: #ffffff;
    min-height: 1280px;
}


h1,h2,h3{
    font-family: "Lucida Console";
}

.container {
    margin-top: 5px;

    background-image: linear-gradient(
            hsl(200, 90%, 60%),
            hsl(220, 90%, 45%),
            hsl(240, 90%, 30%),
            hsl(260, 90%, 15%),
            hsl(2800, 90%, 10%)
    );
    min-height: 1080px;
}

.mymenu {
    background: linear-gradient(
            hsl(200, 70%, 42%),
            hsl(200, 70%, 22%)
    );

    margin: auto;
    height: 55px;
    padding-left: 8px;
}

.mymenu > ul {
    display: block;
}

.mymenu > ul > li a {
    color: white;
    text-decoration: none;
    line-height: 100%;
}

.mymenu > ul > li:active {
    background: linear-gradient(
            hsl(200, 70%, 27%),
            hsl(200, 70%, 22%)
    )
}

.mymenu > ul > li:nth-child(n + 1) {
    margin-top: 5px;
    margin-right: 60px;
    border: 1px solid black;
    border-radius: 10px 10px;

    padding: 5px;

}

.mymenu > ul > li:nth-child(2) {
    margin-left: 25px;
}
